.theme {
  display: flex;
  align-items: center;

  & > span {
    position: relative;
    top: 2px;
    font-size: 0.8rem;
    margin-right: 25px;
    user-select: none;
  }
}

.switcher {
  display: flex;
  justify-content: space-between;

  position: relative;
  height: 22px;
  width: 4rem;
  background-color: hsl(223, 31%, 20%);
  border-radius: 20px;
  font-size: 0.8rem;

  padding-left: 10px;

  .theme-one {
    background-color: hsl(223, 31%, 20%);
  }

  .theme-two {
    background-color: hsl(0, 5%, 81%);
  }

  .theme-three {
    background-color: hsl(268, 71%, 12%);
  }
}

.option {
  display: block;
  position: relative;
  top: -20px;
  cursor: pointer;
  user-select: none;
  transition: color 0.2s ease-out;
}

.option input {
  display: none;
  // position: absolute;
  // opacity: 0;
  // cursor: pointer;
}

.checkmark {
  opacity: 0;
  position: relative;
  display: block;
  top: 8px;
  left: -4px;
  height: 16px;
  width: 16px;
  background-color: hsl(223, 31%, 20%);
  border-radius: 50%;
  transition: all 0.05s ease-out;
}

.option:hover {
  color: hsl(6, 63%, 50%);
}

.option input:checked ~ .checkmark {
  background-color: hsl(6, 63%, 50%);
  opacity: 1;

  &-theme-one {
    background-color: hsl(6, 63%, 50%);
  }

  &-theme-two {
    background-color: hsl(25, 98%, 40%);
  }

  &-theme-three {
    background-color: hsl(176, 100%, 44%);
  }
}
